name: 'Test: DB Integration'

on:
  workflow_call:
    inputs:
      ref:
        required: false
        type: string
        default: ''

env:
  NODE_OPTIONS: '--max-old-space-size=6144'

jobs:
  test:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: SQLite Pooled
            runner: blacksmith-2vcpu-ubuntu-2204
            test-cmd: pnpm test:sqlite
            migration-cmd: pnpm test:sqlite:migrations
          - name: Postgres 16
            runner: blacksmith-4vcpu-ubuntu-2204
            test-cmd: pnpm test:postgres:integration:tc
            migration-cmd: pnpm test:postgres:migrations:tc
            TEST_IMAGE_POSTGRES: 'postgres:16'
    env:
      TEST_IMAGE_POSTGRES: ${{ matrix.TEST_IMAGE_POSTGRES }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ inputs.ref }}

      - name: Setup and Build
        uses: ./.github/actions/setup-nodejs

      - name: Pre-pull Test Container Images
        run: pnpm tsx packages/testing/containers/pull-test-images.ts || true

      - name: Run Tests
        working-directory: packages/cli
        run: ${{ matrix.test-cmd }}

      - name: Run Migration Tests
        working-directory: packages/cli
        run: ${{ matrix.migration-cmd }}
